%nav.navbar.navbar-dark.bg-primary
  =link_to t('header.home'), root_path, class: 'navbar-brand'
  %ul.navbar-nav
  - if client_sign_in?
    =current_client.email
    =link_to t('header.exit'), client_session_path, method: :delete, class:'navbar-brand'