%nav.navbar.navbar-dark.bg-primary
  =link_to t('header.home'), root_path, class: 'navbar-brand'
  %ul.navbar-nav
  - unless current_company.nil?
    =current_company.email
    =link_to t('header.exit'), session_path, method: :delete, class:'navbar-brand'