%nav.navbar.navbar-dark.bg-primary
  =link_to t('header.home'), root_path, class: 'navbar-brand'
  %ul.navbar-nav
  - if current_company.present?
    =current_company.email
    =link_to t('header.exit'),  new_company_session_path, method: :delete, class:'navbar-brand'