#header
  .title
    .title_decription
      %h2=t('.title_description')
    .title_name
      %h1=t('.title')
  .auth
    %ul
      - if client_sign_in?
        %li
          =link_to current_client.email, '#'
        %li
          =link_to t('header.exit'), client_session_path, method: :delete
      - elsif company_sign_in?
        %li
          =link_to current_company.email, '#'
        %li
          =link_to t('header.exit'), company_session_path, method: :delete
      
      - else
        %li
          = react_component('CompanyAuthorization')
        %li
          = react_component('ClientAuthorization')
.clear
#menu.menu
  %ul
    %li
      =link_to t('.main_page'), '/'
    %li
      =link_to t('.client_registration'), '#'
    %li
      =link_to t('.company_registration'), '#'
    %li
      =link_to t('.our_blog'), '/blog/articles'
    %li
      =link_to t('.service_list'), '#'

  %br{:style => "clear: left"}/
