#container
  .blog
    .content
      %h3.title_page=t('layouts.welcome.header.title')
      %p.page_description
        Агрегатор представляет собой справочник клининговых компаний. В зависимости от города человек может выбрать клининговые компании, ознакомиться с предоставляемыми услугами и ценами и сделать заказ.
        %img.left{:alt => "", :src => "https://cdn.pixabay.com/photo/2018/08/08/01/04/cleaning-service-3591146_960_720.png"}/
        Своевременная уборка помещений не только производит благоприятное впечатление на посетителей и деловых партнёров, но и позволяет экономить на ремонте. А в производственной сфере речь ещё идёт и о технике безопасности. Однако уборка офисов, складов, цехов, а также поликлиник часто требует привлечения специальной техники. Поэтому обычный персонал с такой задачей не справится.
      %p.page_description
        %img.right{:alt => "", :src => "https://www.homemaids.ae/blog/wp-content/uploads/2018/08/cleaning-services.png"}/
        Нередко уборка после ремонта становится настоящей головной болью. Цемент и песок, клей и краска, извёстка и растворы… Очистить поверхность после всего этого так, чтобы ничего не повредить, – непросто. Именно поэтому здесь требуются опытные профессионалы.
        Для удобства наших клиентов на все виды клининговых услуг в Ульяновске установлены приемлемые цены. Причем опубликованная стоимость является актуальной на момент просмотра информации. Кроме того, воспользовавшись простым калькулятором, вы сможете рассчитать, сколько будет стоить уборка клининг-компанией исходя из ваших требований и параметров. Для чистоты нет преград.
    .sidebar.content__right.col-md-4
      = react_component('ArticlesList')
      = react_component('CompaniesTopList')
      = react_component('StaticData')
  .clear
  %h3.title_page=t('layouts.welcome.header.title')
  .map
    = react_component('CityMap')