%nav.navbar.navbar-dark.bg-primary
  =link_to "Главная страница", root_path, class: 'navbar-brand'
  %ul.navbar-nav
  
  =current_admin.email
  =link_to 'Exit', session_path, method: :delete, class:'navbar-brand'