%nav.navbar.navbar-dark.bg-primary
  =link_to t('header.home'), root_path, class: 'navbar-brand'
  %ul.navbar-nav
  - if current_admin.present?
    =current_admin.email
    =link_to t('header.exit'), admin_session_path, method: :delete, class:'navbar-brand'