= link_to 'список Администраторов', admin_admins_path
= link_to 'Список клиентов', admin_clients_path
%button Кнопка с текстом
%button Кнопка с текстом
%button Кнопка с текстом
%button Кнопка с текстом
%button Кнопка с текстом
