%table.table
  %tr.table-info
    %th ID
    %th Name
    %th E-mail
    %th Role
    %th Password
    %th state
    %th
  - @admins.each do |admin|
    %tr.bg-success
      %td=admin.id
      %td=admin.name
      %td=admin.email
      %td=admin.role
      %td=admin.password_digest
      %td=admin.state
      %td=link_to 'View profile', admin_admin_path(admin)
.btn.btn-light
  = link_to 'List', admin_root_path, :class => "btn btn-info"
.btn.btn-light
  = link_to 'Create new', new_admin_admin_path, :class => "btn btn-info"


