%table.table
  %thead
    %tr
      %th{:scope => "col"} name
      %th{:scope => "col"} email
      %th{:scope => "col"} role
      %th{:scope => "col"} state
  %tbody
    %tr
      %td=@admin.name
      %td=@admin.email
      %td=@admin.role
      %td=@admin.state
= link_to 'Back', admin_admins_path, :class => "btn btn-info"
= link_to 'Edit', edit_admin_admin_path(@admin.id), :class => "btn btn-info"
= link_to 'Deledet',admin_admin_del_path(@admin.id), method: :put, :class => "btn btn-info"
= link_to 'Activate',admin_admin_restore_path(@admin.id), method: :put, :class => "btn btn-info"